<h1>RxJS: Debounce Backend search</h1>
<h3>wait WAT? </h3>
<p>
  When searching or filtering the normal approach is to do it in the frontend. But this process is critical when we have huge amounts of data.
</p>
<h4>Debounced Searching with RxJS</h4>
<p>
  If we analize the case of searching repositories from github, the source data set is huge. To do this Github provides an API
  for searching:
</p>
<pre>
    {{'https://api.github.com/search/repositories?q=${searchTerm}&sort=stars&order=desc'}}
</pre>
<p>
  We are going to call the api when the user start pressing keys. But beware that doing a call to api
  everytime the user press a key, it's super expensive.
  <b>Solution:</b>  We can debounce the call until the user hasn’t pressed any key for a set period of time.
  This will help performance as we won't be doing unnecesary api calls.
</p>

<pre>
    this.results = this.latestSearch
      .pipe(
        debounceTime(500),
        distinctUntilChanged(),
        filter(term => !!term),
        switchMap(term => this.http.get(urlWithTerm))
      );
    }

</pre>

<mat-form-field>
    <input matInput type="search" placeholder="search" [(ngModel)]='searchTerm'
          (ngModelChange)='newSearch(searchTerm)'>
 </mat-form-field>
 <mat-list>
  <h3 mat-subheader>Results</h3>
  <mat-list-item *ngFor="let result of results | async">
    <h4 mat-line>{{result.name}}</h4>
    <a mat-line href="{{result.url}}"> {{result.url}} </a>
    <mat-divider class="mat-divider-short"></mat-divider>
  </mat-list-item>
</mat-list>
